/* Eléments principaux de la page */
/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    background-image: url("http://cdn.wallpapersafari.com/50/68/ecUsXL.jpg");
    font-family: 'Trebuchet MS', Arial, sans-serif;
    
}



section h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
	
    
}

/************************************************* Header ********************************************************************/

header
{
    background-color :black ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}
#cmm
{
	font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
	color:white ;
	text-align: center;
	
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
	color : red ;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
	color:red ;
}



/************************************************* Header ********************************************************************/

* {
   box-sizing:border-box;
   
   
}




/************************************************ Bannière *******************************************************************/

@keyframes banniere {
	
 0% {
	left : 0%;
}
 	
	
20% {
	left : 0%;
}	
	
25% {
	left :-100%;
}	
	
45%{
	left :-100%;
}	
50%{
	left :-200%;
}	

70%{
	left :-200%;
}		
75%{
	left :-300%;
}					
95%{
	left :-300%;
}	
100%{
	left :-400%;
}	

}
.center {
    text-align: center;
	/*font-size: 1 em;*/
	 color : white ;
	font-family: Dayrom, serif;
    font-weight:bold;
	text-transform: uppercase;
	font-style: oblique;
}


#section_bnr{
	width: 600px;
    margin: auto;
	
	
}

#banniere
{
 
    height: 350px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
	
}


#banniere  {
overflow:hidden;

		
}		
#banniere  figure img {
	width : 20% ;
	float : left ;
	
}
#banniere  figure {
	position :relative;
	width :500%;
	margin :0;
	left :0;
	text-align :left;
	font-size :0;
	animation : 20s banniere infinite ;
}	


/************************************************ Bannière *******************************************************************/

/************************************************* Navigation ****************************************************************/


#droite {

position:absolute;
right:1%;
top:1.1em;
  
}


nav ul
{
    list-style-type: none;
    display: flex;
	
}

nav li
{
    margin-right: 10px;
}

nav a
{
   /* font-size: 1 em;*/
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: red;
    border-bottom: 3px solid red;
}
/************************************************* Navigation ****************************************************************/	


/************************************************* barre de recherche******************************************************* */	


#recherche{
	
   
   position:fixed;
   left:996px;
   top: 116px;

	
	
}
#searchthis #search {

  background-color: #ffffff;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 2px;
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  box-sizing: border-box;   /* Important */
  font-family: arial; 
  font-size: 12px;   /* Taille de la police du texte */
  
  letter-spacing: 1px;   /* Espacement des caractères */
}

#searchthis #search-btn {
  background-color: #808080;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 2px;
  border-color: #808080;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  box-sizing: border-box;   /* Important */
  font-family: arial;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ffffff;   /* Couleur du texte */
}

#searchthis #search-btn:hover {
  background-color: #ffffff;   /* Couleur de fond */
  color:  #808080;   /* Couleur du texte */
  cursor: pointer;   /* Apparence du curseur comme pour un lien */
}







/************************************************* barre de recherche******************************************************* */	


/**************************************************footer*********************************************************************/
#contact{
	text-align :center;
    
}

footer
{
    position:absolute;
	bottom:0;
	right:0;
	left:0;
	background-color :black;
    color: white;
}
.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	
	font: normal  14px sans-serif;

	/*padding:10px 0 20 px;*/
	margin-top: 100px;
}
/* Footer links */

.footer   p.footer-links{
	
	font-weight: bold;
	color:  #ffffff;
	padding: 10px 0 10px;
	margin: 0
}

.footer  p.footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/**************************************************footer*********************************************************************/

/************************************************** le menu *******************************************************************/
#menu, #menu ul{
padding:0;
margin-top:0;
list-style:none;

}
#menu li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0; 
left: 0;
right: 0;
overflow:hidden;

}
#menu li:hover ul{
max-height:28em;
}
/* background des liens menus */
#menu  li:first-child{
background-color: #808080;

}
#menu  li:nth-child(2){
background-color:#808080;

}
#menu  li:nth-child(3){
background-color: #808080;

}
#menu  li:nth-child(4){
background-color: #808080;

}
#menu li:last-child{
background-color: #808080;

}

/* background des liens sous menus */
#menu li:first-child li{
background:#333A40;
}
#menu li:nth-child(2) li{
background:#333A40;
}
#menu li:nth-child(3) li{
background:#333A40;
}
#menu li:nth-child(4) li{
background:#333A40;
}
#menu li:last-child li{
background:#333A40;
}
/* background des liens menus et sous menus au survol */

#menu li:last-child:hover, #menu  li:last-child li:hover{
background:#808080;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu  ul a{
padding:8px 0;
}
#menu  li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu  li:hover a, #menu li li:hover a{
color:#000;
}
/************************************************** le menu ************************************************************/

/***************************************************formulaire**********************************************************/
.form-connexion{
	

  position: absolute;
  width: 550px;
  height: 200px;
  left: 300px;
  top: 200px;
  padding-left: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 22px -1px rgba(0,0,0,0.57);
  background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_dark1400x900.jpg");
  color:white;  
}
.form-inscription{
position: absolute;
  width: 550px;
  height: auto;
  left: 300px;
  top: 130px;
  background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_dark1400x900.jpg");
  padding-left: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
 color:white;
  box-shadow: 4px 4px 22px -1px rgba(0,0,0,0.57);
}	
	
	
	
	
	
	
.form-inscription .form-control{
 /* width: 80%;*/
}



.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-horizontal .form-group {
 /* margin-right: -15px;
  margin-left: -15px;*/
}


.form-connexion  a {
	color:white;
}

.form-connexion .form-control{
  width: 60%;
}
.form-control {
  display: block;
  width: 40%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
 
}
/***************************************************formulaires**********************************************************/


/***************************************************rechercher utilisateur***********************************************/



.FindUser_tr{
  position: absolute;
  width: 500px;
  height: auto;
  left: 320px;
  top: 10px;
  background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_dark1400x900.jpg");
  padding-left: 130px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 22px -1px rgba(0,0,0,0.57);
}
.FindUser_tr .form-control{
  width: 80%;
}
.tr{
  position: absolute;
  width: 100px;
  height: auto;
  left: 277px;
  top: 10px;
  background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_dark1400x900.jpg");
  padding-left: 130px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 22px -1px rgba(0,0,0,0.57);
}
.tr .form-control{
  width: 80%;
}





.Results_tr{
  position: relative;
  top: 170px;
  width: 60%;
  height: auto;
  left: 250px;
  background: gray;

}

.Results_tr .table{
  width: 100%;

}
/***************************************************rechercher utilisateur***********************************************/

/***************************************************Boutons***********************************************/

.btn-info {
  color: #fff;
  background-color:#808080;
  border-color:#808080;
  font-weight:bold;
  height:30px;
  line-height:29px;
  width:120px;
  
}
.btn-info:hover{
		color:black;
}

/***************************************************Boutons***********************************************/

/***************************************************Profil***********************************************/

.Profil{
  position: absolute;
  top: 70px;
  left: 150px;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  color: white;
}

.Profil a {
	color:white;
}

/***************************************************Profil***********************************************/



/***************************************************Tableaux et resultats***********************************************/






/***************************************************Tableaux et resultats***********************************************/

.Feeds{
  position: relative;
  width: 80%;
  height: auto;
}


.MainWebsite .Feeds .News{
  position: absolute;
  width: 400px;
  height: 150px;
  background: #EEEEEE;
}

.erros{
  top: 130px;
  left: 380px;
  position: absolute;
  width: auto;
  height: auto;
  color: red;
}

.errosSignup{
  top: 20px;
  left: 380px;
  position: absolute;
  width: auto;
  height: auto;
  color: red;
}

.Results{
	position: relative;
	top: 80px;
	width: 60%;
	height: auto;
	left: 200px;
	background: red;
	background-color: #FFF4F4;

}

.Results .table{
  width: 100%;

}

.Errors{
  color: red;
}

.Messages{
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
  width: 800px;
  height: 200px;
  background:#ecf0f1;
  border-radius: 15px;
  box-shadow: 4px 4px 22px -1px rgba(0,0,0,0.57);

}

.MsgFeeds{
  position: absolute;
  top:200px;
  left: 200px;
}




/* Boostrap codes*/
.form-group {
  margin-bottom: 15px;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.navbar-form .form-group {
  margin-bottom: 5px;
}
.navbar-form .form-group:last-child {
  margin-bottom: 0;
}
.LoginForm .form-control{
  width: 60%;
}
.form-control {
  display: block;
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}


fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}


fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
}
table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 16px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}


/******************************************* Rating styles***************************************************/
		 
		.rating {
			width:160px;
			top:0px;
			font-size: 18px;
			overflow:hidden;
		}
		.rating a {
			float:right;
			color: #aaa;
			
			text-decoration: none;
			
			transition: color .4s;
		}
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}
		.rating2 {
			direction: rtl;
		}
		.rating2 a {
			float:none
		}
		.commentaire a{
			color:white;
			font-size:14px;
			
		}
/********************************************* Rating styles***************************************************/
* {
   box-sizing:border-box;
   

}



/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}
#contact-form {
   background-color:rgba(72,72,72,0.7);
   padding: 10px 20px 30px 20px;
   max-width:100%;
   float: left;
   left: 50%;
   position: absolute;
   margin-top:30px;
   margin-left: -260px;
   border-radius:7px;
   
}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
   width:100%;
   background: #fff;
   border: 0; 
    
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
   background-color: #E5E6E7; 
}  
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#808080;
  
  /* background-image:-moz-linear-gradient(bottom, #808080 0%, #808080 52%);*/
  
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}

#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
/*#input:required, textarea:required {  
   box-shadow: none;
   
} */
#contact-form .required {  
   font-weight:bold;  
   color: #E5E6E7;      
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
   color: #6EA070; 
   display:none;  
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #contact-form{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}
		   
 